In [1]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd

Mounted at /content/drive

In [2]:
filename = '/content/drive/MyDrive/Coding Dojo/Semana 6/titanic.txt'
df = pd.read_csv(filename)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
from sklearn.ensemble import RandomForestClassifier
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import numpy as np

In [4]:
df=df.drop(["Name", "Ticket", "Cabin"], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Fare         891 non-null    float64
 8   Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 62.8+ KB

In [5]:
df["Embarked"].value_counts() # haremos un OHE con esta columna

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [6]:
%pip install --upgrade category_encoders

Collecting category_encoders
  Downloading category_encoders-2.4.0-py2.py3-none-any.whl (86 kB)
     |████████████████████████████████| 86 kB 3.0 MB/s
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.0.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.21.6)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.3.5)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.2)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.4.0

In [7]:
import category_encoders as ce #esta biblioteca tiene mejores encoders que scikitlearn 
ohe = ce.OneHotEncoder(handle_unknown='ignore', use_cat_names=True) 
df= ohe.fit_transform(df)
df.head()

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

,PassengerId,Survived,Pclass,Sex_male,Sex_female,Age,SibSp,Parch,Fare,Embarked_S,Embarked_C,Embarked_Q,Embarked_nan
0,1,0,3,1,0,22.0,1,0,7.2500,1,0,0,0
1,2,1,1,0,1,38.0,1,0,71.2833,0,1,0,0
2,3,1,3,0,1,26.0,0,0,7.9250,1,0,0,0
3,4,1,1,0,1,35.0,1,0,53.1000,1,0,0,0
4,5,0,3,1,0,35.0,0,0,8.0500,1,0,0,0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   891 non-null    int64
 1   Survived      891 non-null    int64
 2   Pclass        891 non-null    int64
 3   Sex_male      891 non-null    int64
 4   Sex_female    891 non-null    int64
 5   Age           714 non-null    float64
 6   SibSp         891 non-null    int64
 7   Parch         891 non-null    int64
 8   Fare          891 non-null    float64
 9   Embarked_S    891 non-null    int64
 10  Embarked_C    891 non-null    int64
 11  Embarked_Q    891 non-null    int64
 12  Embarked_nan  891 non-null    int64
dtypes: float64(2), int64(11)
memory usage: 90.6 KB

In [9]:
y_missing = df['Age'].isna()
df.loc[y_missing,"Age"]=df["Age"].mean()
df["Age"]

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
         ...
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: Age, Length: 891, dtype: float64

In [10]:
X = df.drop(["Survived"], axis=1)
y = df["Survived"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [11]:
rndf_clf = RandomForestClassifier(n_estimators=500)
rndf_clf.fit(X_train, y_train)
y_pred = rndf_clf.predict(X_test)

print(y_pred)
print(y_test)
rndf_clf.score(X_test, y_test)

[0 0 0 1 0 1 1 0 1 1 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 1 1 1 0 0 0
 1 1 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 1 0 1 1 1 0 1 1 0 0 1 0 0 0 1 1 1 1 1
 0 0 1 1 1 1 0 1 1 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 1 0 0 0 1
 0 1 0 0 0 0 0 1 0 0 1 1 1 0 0 1 0 0 0 1 0 0 1 1 0 1 0 0 0 0 1 0 0 0 1 0 0
 1 0 0 0 0 1 0 0 1 1 1 1 0 0 0 1 0 0 0 1 0 0 0 1 1 1 0 0 0 1 1 0 0 1 0 0 0
 0 0 0 0 1 0 0 0 0 1 1 1 0 1 0 0 0 1 0 0 1 0 0 0 0 0 0 1 0 0 0 1 0 1 0 0 1
 0 0 0 1 0 1 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0
 1 1 1 1 0 0 0 0 0]
709    1
439    0
840    0
720    1
39     1
      ..
821    1
633    0
456    0
500    0
430    1
Name: Survived, Length: 268, dtype: int64

0.8097014925373134

In [34]:
param_grid = [
    {'n_estimators':[15,30,45, 60, 100],
     'max_depth' : [4,5,6,7,8]}
]
grid = { 
    'n_estimators': [200,300,400,500],
    'max_features': ['sqrt', 'log2'],
    'max_depth' : [4,5,6,7,8],
    'criterion' :['gini', 'entropy'],
    'random_state' : [18]
}
forest_clf = RandomForestClassifier()

from sklearn.model_selection import GridSearchCV

grid_search = GridSearchCV(forest_clf, param_grid, cv=4,
                          return_train_score=True)

grid_search.fit(X_train, y_train)

GridSearchCV(cv=4, estimator=RandomForestClassifier(),
             param_grid=[{'max_depth': [4, 5, 6, 7, 8],
                          'n_estimators': [15, 30, 45, 60, 100]}],
             return_train_score=True)

In [35]:
cvres = grid_search.cv_results_
print(cvres['mean_test_score'], cvres['params'])

[0.82824648 0.80419768 0.82507237 0.82023366 0.81703888 0.81540529
 0.82826716 0.82185691 0.8266646  0.82825682 0.81864144 0.80577957
 0.81542597 0.82022333 0.81541563 0.80743383 0.81382341 0.82023366
 0.81222084 0.80741315 0.80582093 0.82183623 0.79938999 0.82506203
 0.80581059] [{'max_depth': 4, 'n_estimators': 15}, {'max_depth': 4, 'n_estimators': 30}, {'max_depth': 4, 'n_estimators': 45}, {'max_depth': 4, 'n_estimators': 60}, {'max_depth': 4, 'n_estimators': 100}, {'max_depth': 5, 'n_estimators': 15}, {'max_depth': 5, 'n_estimators': 30}, {'max_depth': 5, 'n_estimators': 45}, {'max_depth': 5, 'n_estimators': 60}, {'max_depth': 5, 'n_estimators': 100}, {'max_depth': 6, 'n_estimators': 15}, {'max_depth': 6, 'n_estimators': 30}, {'max_depth': 6, 'n_estimators': 45}, {'max_depth': 6, 'n_estimators': 60}, {'max_depth': 6, 'n_estimators': 100}, {'max_depth': 7, 'n_estimators': 15}, {'max_depth': 7, 'n_estimators': 30}, {'max_depth': 7, 'n_estimators': 45}, {'max_depth': 7, 'n_estimators': 60}, {'max_depth': 7, 'n_estimators': 100}, {'max_depth': 8, 'n_estimators': 15}, {'max_depth': 8, 'n_estimators': 30}, {'max_depth': 8, 'n_estimators': 45}, {'max_depth': 8, 'n_estimators': 60}, {'max_depth': 8, 'n_estimators': 100}]

In [37]:
grid_search.best_params_

{'max_depth': 5, 'n_estimators': 30}

In [ ]:
#segun lo anterior, podemos observar que para los estimadores max depth =5 y n_estimators =30 se obtiene una prediccion de 0.828, 
#superior a la anterior.